<div class="wrapper" id="landing">
  <div class="landing-page">
    <div class="myself">
    <span>
      Hi! I'm <strong>{{dataService.user.name}}</strong>, {{dataService.user.job}}
    </span>
    </div>

    <div class="skills">
      <div *ngFor="let skill of dataService.user.skills">{{skill}}</div>
    </div>

    <div class="links">
      <a *ngFor="let link of dataService.user.links" href="{{link.url}}" class="link" target="_blank">
        <i class="{{link.class ? link.class : 'fas fa-link'}}"></i>
      </a>
    </div>
  </div>
  <app-navigator routerLink="/portfolio">Portfolio</app-navigator>
</div>

