<div class="wrapper" id="landing">
  <div class="landing-page">
    <div class="myself">
    <span>
      Hi, I'm <strong>Martin Filo</strong>, Web Developer
    </span>
    </div>

    <div class="skills">
      <div>Angular</div>
      <div>Cordova</div>
      <div>Framework7</div>
      <div>SASS</div>
    </div>

    <div class="links">
      <a href="https://github.com/Chiff" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://linkedin.com/in/martinfilo/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="mailto:martinxfilo@gmail.com" target="_blank">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
  <div class="go-up-down" (click)="gotoPortfolio()">
    <strong>
      <i class="fas fa-chevron-down"></i>
      Portfolio
      <i class="fas fa-chevron-down"></i>
    </strong>
  </div>
</div>
