.mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;

  filter: blur(50px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.spinner {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;

  .spin {
    align-self: center;
  }
}
